:root{
    --sidebarBackgroundColor: #404040;
    --white: white;
    --cinzaClaro: #E8E8E8;
    --corDestaque: #a83832;
}


.rightDash .container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 25px;
}

.rightDash .container h4{
    margin-right: 10px;
}

.rightDash button{
    width: 100px;
    color: var(--white);
    background-color: #404040;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 800;
    cursor: pointer;
    transition: 0.5s;
}

.rightDash button:hover{
    background-color: var(--corDestaque);
    transition: 0.5s;
}   