:root{
    --sidebarBackgroundColor: #404040;
    --white: white;
    --cinzaClaro: #E8E8E8;
    --corDestaque: #a83832;
}

.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftDash{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightDash{
    width: 50vw;
    height: 100vh;
    position: inherit;
}

.rightDash .container{
    margin: 20px;
    margin-top: 50px ;
    width: 40%;
    float: right;
    display: flex;
}

.rightDash button{
    width: 100%;
    color: var(--white);
    background-color: #404040;
    padding: 16px 0px;
    border: none;
    margin-left: 2%;
    border-radius: 8px;
    outline: none;
    font-size: 800;
    cursor: pointer;
    transition: 0.5s;
}

.rightDash button:hover{
    background-color: var(--corDestaque);
    transition: 0.5s;
  }   