:root{
    --BackgroundHome: #201b2c;
    --BackgroundCard: #2f2841;
    --BackgorundInput: #514869;
    --white: white;
    --cinzaClaro: #E8E8E8;
    --corDestaque: #a83832;
}

.home{
    width: 100vw;
    height: 100vh;
    background: var(--BackgroundHome);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left img{
    width: 100%;
}

.right{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right h2{
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    color: var(--white);
}


.card{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px ;
    background: var(--BackgroundCard);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.right .card input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--BackgorundInput);
    color: var(--white);
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: 0.5s;
}

.right .card input:focus{
    border: 1px solid var(--corDestaque);
    transition: 0.5s;
}

.right .card form{
    width: 100%;
}

.right .card button{
    width: 100%;
    padding: 16px 0px;
    border: none;
    margin-bottom: 12px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-size: 800;
    letter-spacing: 3px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.right .card button:hover{
    color: white;
    background-color: var(--corDestaque);
    transition: 0.5s;
}

.error-message{
    color: red;
    font-style: italic;
    font-size: 20px;
}


@media only screen and (max-width: 600px){
    .home{
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: auto;
    }
    .left img{
        width: 50vw;
    }
    .card{
        width: 100%;
        height: 60%;
    }
}