:root{
    --navBarBackgroundColor: #404040;
    --white: white;
    --cinzaClaro: #E8E8E8;
    --corDestaque: #a83832;
}

.home{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left img{
    width: 80%;
}

.right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right h2{
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    color: white;
}

.right .card input{
    margin-bottom: 10px;
    overflow: hidden;
    background: none;
    border: none
    border-bottom: 1px solid white;
    color: white;
}

.card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px ;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}