/*:root{
    --cinzaClaro: #E8E8E8;
    --branco: #FFFFFF;
    --preto: black;
    --cor-destaque: #a83832; /* #FFE08F 
    --cor-realce: #e8362c; /* #EEAD2D*/
/*/ #FFC52F
}*/

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    margin: auto;
}

* {
  font-family: "Roboto";
}

.error-message{
  color: red;
  font-style: italic;
  margin-bottom: 10px;
  padding: 0;
}